<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style/writebutton.css">
    <link rel="stylesheet" href="/static/style/button.css">
    <style>
      /*Estilo Imagem*/
      #logo {
          width: 400px;
          length: 200px;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      /*Estilo Header*/
      h1 {
        color: #FFA500;
        text-align: center;
        font-family: Lato, Lato-Light;
      }
      /*Estilo SetaVoltar*/
      #SetaVoltar {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 30px;
          height: 30px;
      }
    </style>
  </head>
  <body>
    <a href="/">
        <img src="static/images/SetaVoltar.png" id="SetaVoltar">
    </a>
    <img src="/static/images/logo.png" id="logo">
    <h1>LOGIN SUPERVISORES</h1>
    <div class="btn" class="editable" onclick="this.innerHTML=''" contenteditable>Email</div>
    <div class="btn" class="editable" onclick="this.innerHTML=''" contenteditable>Password</div>
    <script>
        const btns = document.querySelectorAll('.btn');
        btns.forEach(btn => {
            btn.addEventListener('keydown', () => {
                btn.classList.add('editable');
            });
            btn.addEventListener('blur', () => {
                btn.classList.remove('editable');
            });
        });
    </script>
    <div class="login_button">
        <button class="small_btn">Login</button>
    </div>
  </body>
</html>