.small_btn{
    padding: 15px 15px;
    width: 135px;
    color: #1E1C1B;
    background: #FFA500;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border-radius: 50px;
    border: 0px;
    display: block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    transition: box-shadow 0.15s, opacity 0.15s, font-weight 0.15s;
}

.login_button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.small_btn:hover {
    box-shadow: 5px 5px 10px rgba(10,10,10,0.2);
    font-weight: bold;
}

.small_btn:active {
    opacity: 0.8;
}
