* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aileron, Aileron-Bold;
}

body {
    background: #F0FAFF;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #FFA500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

a {
    color: #1E1C1B;
    text-decoration: none;
}

.nav .logo {
    font-size: 22px;
    font-weight: 500;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .search-icon {
    color: #1E1C1B;
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 650px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    color: #1E1C1B;
    transform: translateY(-50%);
    text-align: left;
}

.search-box.active .search-icon {
    left: auto;
    right: 15px;
    transform: translateY(-50%);
    text-align: left;
}

.search-box.active {
    opacity: 1;
    pointer-events: auto;
}

.search-box.active input[type="text"] {
    padding-left: 40px;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #E8E5E5;
    margin-left: 10px;
    flex-grow: 1;
}

.search-box input::placeholder {
    color: #1E1C1B;
    opacity: 0.5;
}

.search-text {
    text-align: right;
}