.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.5fr 1.9fr 0.8fr 0.8fr;
	grid-template-rows: 0.5fr 2fr 1.2fr 0.3fr;
	grid-template-areas: "cabeçalho cabeçalho cabeçalho cabeçalho"
						 "checklits checklists turnos turnos"
						 "checklits checklists funcionarios funcionarios"
						 "data data data data";
	grid-gap:1.5em;
	//*font-size:25px;
	font-family:Aileron, Aileron-Black;
	text-align: center;**/
}

#cabeçalho {
	display: flex;
	justify-content: space-between;
	background-color: white;
	grid-area: cabeçalho;
}

#checklists {
	background-color: white;
	grid-area: checklists;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size:25px;
	margin: 10px;
	overflow: auto;

}

#funcionarios {
	background-color: white;
	grid-area: funcionarios;
	border: 2px solid black;
	text-align: center;
	font-size:25px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	overflow: auto
}

#turnos {
	background-color: white;
	grid-area: turnos;
	border: 2px solid black;
	text-align: center;
	font-size:25px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	overflow: auto
}

#data {
	background-color: aliceblue;
	grid-area: data;
}

.botao-checklist {
	width: 95%;
	height: 95%;
	display: block;
	margin: 5px 0;
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	color: white;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	margin: 10px;
}

.botao-checklist:hover {
	background-color: #FFA500;
	color: white;
}

.botao-checklist {
	width: 95%;
	height: 95%;
	display: block;
	margin: 5px 0;
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	color: white;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	margin: 10px;
}

.botao-checklist:hover {
	background-color: #FFA500;
	color: white;
}

input[type=checkbox] {
	display: none;
}

label {
	display: flex;
	align-items: center;
}

input[type=checkbox] + .botao-checklist {
	margin-left: 10px;
}

input[type=checkbox] + label:after {
	  content: "";
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  border: 1px solid gray;
	  margin-right: 10px;
	  vertical-align: middle;
}

input[type=checkbox]:checked + label:after {
	  content: "\2713"; /* caractere de marca de seleção (check mark)*/
	  background-color: #FFA500;
	  color: white;
	  text-align: center;
	  line-height: 40px;
}

#botoes-turnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao-turno {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgrey;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.botao-turno:hover {
  background-color: #FFA500;
  color: white;
}




