.container {
	display: grid;
	margin-top: 2.5vh;
	grid-template-columns: 0.5fr 1.9fr 0.8fr 0.8fr;
	grid-template-rows: 0.5fr 2fr 1.2fr 0.3fr;
	grid-template-areas: "cabeçalho cabeçalho cabeçalho cabeçalho"
						 "checklits checklists turnos turnos"
						 "checklits checklists funcionarios funcionarios"
						 "data data data data";
	grid-gap:1.5em;
}

h2 {
	margin-bottom: 10px;
}

.cabeçalho {
	display: flex;
	justify-content: space-between;
	background-color: white;
	grid-area: cabeçalho;
}

.checklists {
	padding: 20px;
	grid-area: checklists;
	background-color: white;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size:25px;
	margin: 10px;
	height: 500px;
	overflow: auto;
}

.checklists::-webkit-scrollbar {
  	width: 10px;
}

.checklists::-webkit-scrollbar-track {
	border-radius: 5px;
  	background: #FFFFFF;
}

.checklists::-webkit-scrollbar-thumb {
  	background: #888;
  	border-radius: 5px;
}

.checklists::-webkit-scrollbar-thumb:hover {
  	background: #555;
}

#turnos {
	padding: 25px;
	width: 350px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	font-size:25px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	top: 18vh;
	position: absolute;
	left: 65%;
}

#funcionarios {
	padding: 25px;
	width: 350px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	align-items: center;
	font-size:25px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	top: 40.5vh;
	position: absolute;
	left: 65%;
}

.checklists,
#turnos,
#funcionarios {
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.checklists:hover,
#turnos:hover,
#funcionarios:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#data {
	background-color: aliceblue;
	grid-area: data;
}

.botao-checklist:hover {
	background-color: #FFA500;
	color: white;
}

.botao-checklist{
	width: 95%;
	height: 95%;
	display: block;
	margin: 5px ;
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	color: white;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	margin: 10px;
}

.botao-checklist:hover {
	background-color: #FFA500;
	color: white;
}

input[type=checkbox] {
	display: none;
}

label {
	display: flex;
	align-items: center;
}

input[type=checkbox] + .botao-checklist {
	margin-left: 10px;
}

input[type=checkbox] + label:after {
	  content: "";
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  border: 1px solid gray;
	  margin-right: 10px;
	  vertical-align: middle;
}

input[type=checkbox]:checked + label:after {
	  content: "\2713";
	  background-color: #FFA500;
	  color: white;
	  text-align: center;
	  line-height: 40px;
}

.botao-turno {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgrey;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.botao-turno:hover {
  background-color: #FFA500;
  color: white;
}